@import "tailwindcss";

:root {
  --primary: #1e3a8a;
  --secondary: #0da975;
  --background: #f8fafc;
  --surface: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-surface: var(--surface);

  --font-poppins: var(--font-poppins);
  --font-lexend: var(--font-lexend);
  --font-manrope: var(--font-manrope);
}

html {
  font-size: 14px;
  font-family: var(--font-poppins);
  background-color: var(--background);
}

@layer base {
  h1,
  h2,
  h3 {
    font-family: var(--font-lexend);
  }
  p,
  span,
  td,
  label {
    font-family: var(--font-manrope);
  }
  button {
    cursor: pointer;
  }
  button:active, a:active{
    transform: scale(95%);
    transition: all;
  }
}
